body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.button {
    border-radius: 28px;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    padding: 8px 16px;
}

.button.cta {
    background-color: #14B46C;
    border-color: #14B46C;
}

.button:hover {
    opacity: 0.8;
}

main {
    padding-top: 60px;
}
/*** fine regole layout base ***/

/*** header ***/
header {
    background-color: #FFB100;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

#logo-container {
    text-align: center;
}

#logo-container img {
    height: 27px;
    margin-top: calc((60px - 27px) / 2);
    cursor: pointer;
}

#accedi-container {
    text-align: right;
}

#accedi {
    background-color: rgba(255,255,255,0.25);
    color: white;
    padding: 8px 16px;
    line-height: 60px;
    margin-right: 12px;
    border-radius: 20px;
    font-size: 14px;
}

#accedi i {
    margin-right: 5px;
    font-size: 12px;
}
/*** fine header ***/

/*** jumbo ***/
#jumbo {
    background-color: #FFB100;
    height: 900px;
    padding-right: 60px;
    padding-bottom: 80px;
}

#jumbo-img {
    background-image: url('https://www.nowtv.it/content/dam/static/contentimages/original/sezioni/nowtv/1_home_trial/2018/visori_nuovi/VisoreDoppioXF13_1994.jpg');
    background-position:center;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    position: relative;
}

#jumbo-text {
    background-color: white;
    width: 303px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;
    padding: 30px 40px;
    color: #680091;
    text-align: center;
    border-radius: 5px;
}

#jumbo-text img {
    margin-bottom: 30px;
}

#jumbo-text p {
    line-height: 1.5;
}

#jumbo-text .cta {
    display: block;
    padding: 16px 20px;
    margin-top: 30px;
}

/*** fine jumbo ***/

/*** ribbon ***/
#ribbon {
    background-color:  #680091;
    height: 70px;
}

#ribbon p {
    text-align: center;
    color: white;
    line-height: 70px;
    font-weight: bold;
}

#ribbon .button {
    margin-left: 20px;
    font-weight: normal;
}

#movies img {
    max-width: 100%;
    border-right: 5px solid white;
}

#movies .col-lg-3:last-child img {
    border-right: none;
}

#movies {
    position: relative;
}

/*fine ribbon*/

/*inizio info*/
#info{
    width: 100%;
    background-color: #022B42;
}

 section.container{
     color: white;
     text-align: center;
     height: 100%;

     padding: 50px 0;
 }
section.container h1 {
    text-transform: uppercase;
    font-size: 30px;
}



 section.container div {
     margin-top: 60px

 }

 section.container div img {
     width: 90px;
     height: 90px;

 }

 section.container div h2 {
    margin: 10px 0;
    text-transform: uppercase;
 }

  section.container div p {
      font-size: 15px;
      font-weight: bold;
  }

/*fine info*/

/*calcio*/

#calcio{
    width: 100%;
    background-color: #1C5EEA;
    /*height: 465px;*/
}

#calcio div.container {
    text-align: center;
    height: 100%;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

#calcio div.container h1 {
    text-transform: uppercase;

}

#calcio div.container img {
    text-align: center;
    width:80%;

}

.scopri {
    text-decoration: none;
    color: white;
    padding: 10px 60px;
    border:1px solid white;
    border-radius: 100px;
    font-size: 25px;
}

/*fine calcio*/

/*telecomando*/

#telecomando {
    background-color: #003366;
    color: white;
    text-align: center;
    padding-top: 60px;


}

#telecomando div.container {
    height: 100%;
    padding-bottom: 60px;
}

#telecomando div.container img {
    width: 80%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*fine telecomando*/

/*footer*/
footer{
    width:100%;
    background-color: #1C1C21;
    padding: 34px 15px;
}

footer .container{
    width:80%;
}

.sezione_footer {
    position: relative;
    min-height: 1px;
    margin-left: 80px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2;
}

.sezione_footer li{
    height: 30px;
    list-style-type: none;
    font-weight: bold;
}

.sezione_footer a {
    color: white;
    text-decoration: none;
}

.icons {
    padding-top: 5px;
    color: white;
    letter-spacing: 10px;
    font-size: 25px;
}

.scritta_footer {
    position: relative;
    min-height: 1px;
    padding-top: 40px;
    padding-right: 15px;
    text-align: left;
    line-height: 1.25;
    font-size: 10px;
    color: #8AACB1;
}
.scritta_footer a {
    color: white;
    text-decoration: underline;
}
}
/*fine footer*/


@media screen and (max-width: 1440px) {
    #jumbo {
        height: 650px;
    }

    #jumbo-text {
        left: 50px;
    }
}

@media screen and (max-width: 1300px) {
    #jumbo {
        height: 550px;
    }
    .scopri {
        font-size: 25px;
        padding:10px 60px;
    }
}

@media screen and (max-width: 1200px) {
    #jumbo {
        height: 920px;
        padding-right: 0;
        padding-bottom: 10px;
    }

    #jumbo-img {
        height: 600px;
        width: 100%;
        background-size: cover;
        background-position: right center;
    }

    #jumbo-text {
        top: 590px;
        left: 50%;
        width: 50%;
        transform: translateX(-50%);
    }
    #movies div:nth-child(1n+4){
        visibility: hidden;
        position: fixed;
    }

    #movies div:nth-last-child(1n+2) {
        width: calc(100% / 3);
    }
    .scopri {
        font-size: 25px;
        padding:10px 60px;
    }
    footer .container div.col-sm-12.col-md-3 {
        width: 100%;
        text-align: center;
    }

    .sezione_footer {
        text-align: center;
        width: 50%;
        display: inline-block;
        padding-top: 40px;
        margin:0;
        padding-bottom: 40px;

    }

    .sezione_footer li{
        border-bottom: 1px solid rgba(255,255,255,0.25);
        font-size: 15px;

    }

    .sezione_footer li:first-child{
        border-top: 1px solid rgba(255,255,255,0.25);
        font-size: 10px;

    }

 .icons {
     text-align: center;
     /*position: absolute;*/
 }
 .scritta_footer {
     text-align: center;
 }
}



@media screen and (max-width: 1023px) {

    #accedi {
        background: transparent;
        margin-right: 0;
    }

    #accedi span {
        display: none;
    }

    #accedi i {
        font-size: 16px;
    }

    #jumbo {
        height: 760px;
    }

    #jumbo-img {
        height: 400px;
    }

    #jumbo-text {
        top: 390px;
    }

    #movies div:nth-child(1n+3){
        visibility: hidden;
        position: fixed;
    }

    #movies div:nth-last-child(1n+3) {
        width: 50%;
    }

    .scopri {
            font-size: 20px;
            padding:8px 40px;

    }

    footer .container div.col-sm-12.col-md-3 {
        width: 100%;
        text-align: center;
    }

    .sezione_footer {
        text-align: center;
        width: 50%;
        display: inline-block;
        padding-top: 40px;
        margin:0;
        padding-bottom: 40px;

    }

    .sezione_footer li{
        border-bottom: 1px solid rgba(255,255,255,0.25);
        font-size: 15px;

    }

    .sezione_footer li:first-child{
        border-top: 1px solid rgba(255,255,255,0.25);
        font-size: 10px;

    }

 .icons {
     text-align: center;
     /*position: absolute;*/
 }
 .scritta_footer {
     text-align: center;
 }
}

@media screen and (max-width: 767px) {

    header {
        height: 50px;
    }

    main {
        padding-top: 50px;
    }

    #logo-container img {
        margin-top: calc((50px - 27px) / 2);
    }

    #accedi {
        line-height: 50px;
        font-size: 20px;
    }

    #accedi i {
        font-size: 20px;
    }

    #jumbo-text {
        width: 300px;
    }

    #ribbon {
        height: auto;
    }

    #ribbon .ribbon-cta-container {
        display: block;
        text-align: center;
        line-height: 1.5;
        padding-bottom: 30px;
    }

    #ribbon .button {
        margin-left: 0;
    }

    #movies div:nth-child(1n+2){
        visibility: hidden;
        position: fixed;
    }

    #movies div:first-child {
        width: 100%;
    }

    .scopri {
        font-size: 15px;
        padding:5px 30px;
    }

    footer .container div.col-sm-12.col-md-3 {
        width: 100%;
        text-align: center;
    }

    .sezione_footer {
        text-align: center;
        width: 100%;
        margin:0;
        padding: 0;

    }

    .sezione_footer li{
        border-bottom: 1px solid rgba(255,255,255,0.25);
        font-size: 15px;

    }

.sezione_footer li:first-child{
        border-top: 1px solid rgba(255,255,255,0.25);
        font-size: 10px;

    }

 .sezione_footer:nth-child(2n+3){
     margin-bottom: 40px;
}

.icons {
    font-size: 15px;
     text-align: center;
 }

 .scritta_footer {
     text-align: center;
 }


}
